:root {
  --primary: #4043ff;
  --black: #090e18;
  --white: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn {
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: #0e1b26;
  border-color: #0e1b26;
}

.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(14, 27, 38, 0.5);
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.form-control {
  background-color: #f4f6f8;
  border: unset;
  height: 60px;
}

form .btn-primary {
  height: 100%;
  width: 170px;
  height: 60px;
}

/* navbar */
.navbar {
  min-height: 80px;
}

.navbar .navbar-brand {
  color: var(--black);
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .navbar-brand:hover {
  color: unset;
}

.navbar .navbar-brand img {
  width: 32px;
}

.navbar .nav-link {
  font-size: 0.875rem;
}

.navbar .navbar-toggler svg {
  width: 24px;
  color: var(--primary);
}

.navbar .show-on-md {
  display: none;
}

.navbar .dropdown-menu {
  background-color: #0e1b26;
  position: relative;
}

.navbar .dropdown-menu::before {
  content: "";
  background-color: #0e1b26;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: -11px;
  left: 16%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.navbar .dropdown-menu .dropdown-item {
  color: #bdc3ca;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: var(--primary);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .navbar .hide-on-md {
    display: none;
  }

  .navbar .show-on-md {
    display: unset;
  }

  .navbar .dropdown-menu::before {
    left: 3%;
  }
}

/* Hero section */
.hero-section {
  min-height: 85vh;
  text-align: center;
}

.hero-section .display-5 {
  font-weight: bold;
  color: var(--black);
  margin-bottom: 34px;
}

.hero-section .lead {
  color: #576078;
  margin-bottom: 59px;
}

@media screen and (max-width: 768px) {
  .hero-section form {
    gap: 16px;
  }

  .hero-section .btn-primary {
    width: 100%;
  }
}

/* Shape between hero and featurs sections */
.hero-featurs-shape {
  position: relative;
  min-height: 600px;
  width: 100%;
}

.hero-featurs-shape .colors-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-featurs-shape .colors-bg .hero {
  height: 50%;
  width: 100%;
  background-color: var(--white);
}

.hero-featurs-shape .colors-bg .features {
  height: 50%;
  width: 100%;
  background-color: #e4e7ea;
}

.hero-featurs-shape .shapes-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero-featurs-shape .shapes-bg .blue {
  position: absolute;
  top: 0;
  left: 16%;
}

@media screen and (max-width: 992px) {
  .hero-featurs-shape .shapes-bg .blue {
    left: 2%;
  }
}

@media screen and (max-width: 530px) {
  .hero-featurs-shape .shapes-bg .blue {
    display: none;
  }
}

.hero-featurs-shape .shapes-bg .green {
  position: absolute;
  bottom: 0;
  right: 13%;
}

@media screen and (max-width: 992px) {
  .hero-featurs-shape .shapes-bg .green {
    right: 2%;
  }
}

@media screen and (max-width: 530px) {
  .hero-featurs-shape .shapes-bg .green {
    display: none;
  }
}

.hero-featurs-shape .shapes-bg .dots {
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(3, 8px);
  gap: 6px;
}

.hero-featurs-shape .shapes-bg .dots__dot {
  border-radius: 50%;
  background-color: #565f77;
}

.hero-featurs-shape .shapes-bg .dots.top {
  position: absolute;
  right: 19%;
  top: 9%;
}

@media screen and (max-width: 992px) {
  .hero-featurs-shape .shapes-bg .dots.top {
    right: 9%;
  }
}

.hero-featurs-shape .shapes-bg .dots.bottom {
  position: absolute;
  left: 34%;
  bottom: 7%;
}

@media screen and (max-width: 992px) {
  .hero-featurs-shape .shapes-bg .dots.bottom {
    left: 27%;
  }
}

.hero-featurs-shape .shapes-bg .dots.bottom .dots__dot {
  background-color: #bdc3ca;
}

.hero-featurs-shape .shapes-bg .browser {
  height: 470px;
  width: 770px;
  background-color: #f4f6f8;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.hero-featurs-shape .shapes-bg .browser .bar {
  background-color: #e4e7ea;
  width: 100%;
  height: 40px;
}

.hero-featurs-shape .shapes-bg .browser .bar {
  background-color: #e4e7ea;
  width: 100%;
  height: 40px;
}

.hero-featurs-shape .shapes-bg .browser .bar .icons {
  gap: 3.33px;
  margin-left: 16px;
}

.hero-featurs-shape .shapes-bg .browser .bar .icons .icon {
  background-color: #bdc3ca;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.hero-featurs-shape .shapes-bg .browser .server {
  background-color: var(--white);
  border-radius: 6px;
  position: absolute;
  right: 3%;
  bottom: 5%;
  top: 13%;
  left: 25%;
  gap: 5%;
}

@media screen and (max-width: 530px) {
  .hero-featurs-shape .shapes-bg .browser .server {
    left: 3%;
  }
}

.hero-featurs-shape .shapes-bg .browser .server .element {
  height: 54px;
  width: 92%;
  background-color: #e4e7ea;
  border-radius: 4px;
  padding: 0 18px;
}

@media screen and (max-width: 400px) {
  .hero-featurs-shape .shapes-bg .browser .server .element {
    padding: 0 4px;
  }
}

.hero-featurs-shape .shapes-bg .browser .server .element .profile {
  gap: 15px;
}

.hero-featurs-shape .shapes-bg .browser .server .element .profile .image {
  height: 24px;
  width: 24px;
  background-color: var(--white);
  border-radius: 50%;
}

.hero-featurs-shape .shapes-bg .browser .server .element .profile .name-bio {
  gap: 4px;
}

.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element
  .profile
  .name-bio
  .name {
  background-color: #bdc3ca;
  width: 80px;
  height: 10px;
  border-radius: 14px;
}

@media screen and (max-width: 400px) {
  .hero-featurs-shape
    .shapes-bg
    .browser
    .server
    .element
    .profile
    .name-bio
    .name {
    width: 50px;
  }
}

.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element
  .profile
  .name-bio
  .bio {
  background-color: #bdc3ca;
  width: 138px;
  height: 10px;
  border-radius: 14px;
}

@media screen and (max-width: 400px) {
  .hero-featurs-shape
    .shapes-bg
    .browser
    .server
    .element
    .profile
    .name-bio
    .bio {
    width: 108px;
  }
}

.hero-featurs-shape .shapes-bg .browser .server .element .state {
  gap: 15px;
}

@media screen and (max-width: 300px) {
  .hero-featurs-shape .shapes-bg .browser .server .element .state {
    display: none !important;
  }
}

.hero-featurs-shape .shapes-bg .browser .server .element .state .off {
  background-color: #bdc3ca;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.hero-featurs-shape .shapes-bg .browser .server .element .state .on {
  background-color: var(--primary);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.hero-featurs-shape .shapes-bg .browser .server .element.element--active,
.hero-featurs-shape .shapes-bg .browser .server .element:hover {
  background-color: var(--white);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
  transform: translateX(-10%);
}

@media screen and (max-width: 530px) {
  .hero-featurs-shape .shapes-bg .browser .server .element.element--active,
  .hero-featurs-shape .shapes-bg .browser .server .element:hover {
    transform: translateX(0);
  }
}

.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element.element--active
  .profile
  .image,
.hero-featurs-shape .shapes-bg .browser .server .element:hover .profile .image {
  background-color: #576078;
}

.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element.element--active
  .profile
  .name-bio
  .name,
.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element:hover
  .profile
  .name-bio
  .name {
  background-color: #576078;
}

.hero-featurs-shape
  .shapes-bg
  .browser
  .server
  .element.element--active
  .state
  .on,
.hero-featurs-shape .shapes-bg .browser .server .element:hover .state .on {
  background-color: #3be4ce;
  width: 60px;
}

@media screen and (max-width: 400px) {
  .hero-featurs-shape
    .shapes-bg
    .browser
    .server
    .element.element--active
    .state
    .on,
  .hero-featurs-shape .shapes-bg .browser .server .element:hover .state .on {
    width: 24px;
  }
}

.hero-featurs-shape .shapes-bg .browser .user {
  position: absolute;
  right: 3%;
  bottom: 14%;
  top: 22%;
  left: 0;
  gap: 5%;
  width: 25%;
}

@media screen and (max-width: 530px) {
  .hero-featurs-shape .shapes-bg .browser .user {
    display: none !important;
  }
}

.hero-featurs-shape .shapes-bg .browser .user .profile .image {
  background-color: #576078;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero-featurs-shape .shapes-bg .browser .user .profile .name {
  background-color: #576078;
  border-radius: 10px;
  width: 80px;
  height: 10px;
  margin-bottom: 10px;
}

.hero-featurs-shape .shapes-bg .browser .user .profile .bio {
  background-color: #bdc3ca;
  border-radius: 10px;
  width: 47px;
  height: 10px;
}

.hero-featurs-shape .shapes-bg .browser .user .taps {
  gap: 10px;
}

.hero-featurs-shape .shapes-bg .browser .user .taps .tab {
  height: 20px;
  width: 20px;
  background-color: #bdc3ca;
  border-radius: 50%;
}

/* Featurs section */
.featurs-section {
  background-color: #e4e7ea;
  padding-top: 200px;
  padding-bottom: 200px;
}

.featurs-section .section-name {
  color: var(--primary);
  font-size: 0.875rem;
  letter-spacing: 8px;
  margin-bottom: 41px;
}

.featurs-section .section-title {
  color: var(--black);
  max-width: 500px;
  margin-bottom: 90px;
}

.featurs-section .feature-cards .row {
  gap: 30px;
}

.featurs-section .feature-cards .feature-card {
  min-width: 370px;
  padding: 60px 30px;
  transition: all 0.15s ease-in-out;
  border-radius: 14px;
}

@media screen and (max-width: 576px) {
  .featurs-section .feature-cards .feature-card {
    min-width: 100%;
  }
}

.featurs-section .feature-cards .card.feature-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transform: translateY(-15px);
}

.featurs-section .feature-cards .feature-card .icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #bdc3ca;
  margin-bottom: 38px !important;
}

.featurs-section .feature-cards .feature-card:hover .icon {
  background-color: #3be4ce;
  border-color: #3be4ce;
}

.featurs-section .feature-cards .feature-card .icon svg {
  width: 30px;
  color: #576078;
}

.featurs-section .feature-cards .feature-card:hover .icon svg {
  width: 30px;
  color: #fff;
}

.featurs-section .feature-cards .feature-card .card-title {
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: var(--black);
}

.featurs-section .feature-cards .feature-card .card-text {
  margin-bottom: 24px;
  color: #576078;
  font-size: 1rrem;
}

.featurs-section .feature-cards .feature-card:hover .btn-outline-primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

/* Descover new */
.descover-new {
  position: relative;
  padding: 46px 0;
}

.descover-new .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.descover-new .bg .shared-with-featurs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #e4e7ea;
}

.descover-new .bg .shared-with-reviews {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: var(--black);
}

.descover-new .frame {
  position: absolute;
  right: 11%;
  top: -2%;
}

.descover-new .content {
  position: relative;
  background-color: var(--primary);
  min-height: 320px;
  width: 770px;
  border-radius: 14px;
}

@media screen and (max-width: 800px) {
  .descover-new .content {
    width: 100%;
  }
}

.descover-new .content .section-title {
  color: var(--white);
  max-width: 500px;
  margin-bottom: 35px;
}

.descover-new .content form {
  gap: 16px;
}

.descover-new .content form .btn-primary {
  background-color: var(--black);
  border-color: var(--black);
}

@media screen and (max-width: 768px) {
  .descover-new .content form .btn-primary {
    width: 100%;
  }
}

.descover-new .content form .btn-primary:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--black);
}

.descover-new .content form .form-control {
  background-color: rgb(9, 14, 24, 0.2);
  color: var(--white);
}

.descover-new .content form .form-control::placeholder {
  color: #bdc3ca;
}
